######################
# Mandatory variables
######################
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

# your site's domain: example.com
export domain=wpexample.com

# the aws region you want to deploy http://docs.aws.amazon.com/cli/latest/reference/ec2/describe-regions.html#examples
export TF_VAR_region=us-east-1

# Comma separated list of trusted CIDR blocks (the computer's ip you want to use to connect to the servers) for the security goups
export TF_VAR_allowed_cidrs=0.0.0.0/0

# Your rsa public key
export rsa_public_key=

# more info at https://github.com/dominis/mikado#deploying-your-website
export site_repo=https://github.com/dominis/wordpress.example.com.git

# Instance type used for AMI builds
# NB you can choose a big instance for faster
# builds but aws bills the entire hour
# even if your instance only run for a few minutes
export build_instance_type=t2.micro

###########################################
# The following variables are all optional
###########################################
# https://manage.fastly.com/account
export TF_VAR_fastly_api_key=

# https://app.statuscake.com/APIKey.php
export TF_VAR_statuscake_username=
export TF_VAR_statuscake_apikey=

# https://app.datadoghq.com/account/settings#integrations/amazon_web_services
export TF_VAR_datadog_external_id=

# https://app.datadoghq.com/account/settings#api
export datadog_api_key=

# https://ACCOUNT.loggly.com/tokens
export loggly_token=

# https://rpm.newrelic.com/accounts/
export newrelic_license_key=

# https://YOURACCOUNT.slack.com/apps/A0F7XDUAZ-incoming-webhooks
export slack_webhook_url=
export slack_channel=#mikado-notifications
